*{margin:0; padding:0;}
ul{list-style: none;}
a{text-decoration: none; color:#333;}
body{font-size: 15px; font-family: 'NotoSansKR-Light'; color: #333; line-height: 27px;}
/* overflow-x: hidden; overflow-y:auto; */

.top{position:fixed; width: 50px; bottom:50px; right:50px; display:none;}
/*header*/
#header{width:100%; height:120px; position: sticky; top: 0; background: rgb(255, 255, 255); z-index: 10;   }

    .active{ width: 100%;
        background-color: #fff;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
        box-shadow: rgb(213, 199, 199) 0 4px 4px -4px;
      }
      .deactive{

        background-color: transparent;
        transition-duration: 0.5s;
        transition-timing-function: ease;
        
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;
      }
    

.header_inner{width: 1320px; margin: 0 auto; position: relative;}
.logo{ float:left; padding:34px 0; position: absolute; left: 50%; margin-left: -169.5px;}
.link1{position: absolute; top: 20px; left: 30px;}
        .link1 li{float: left; margin-right: 20px;}
.link2{position: absolute; right: 30px; top: 20px;}
         .link2 li{float: left; margin-left: 30px;}

.nav{ position: absolute; top: 53px; left:30px;}
    .nav li{float:left; margin-right: 150px;}
    .nav li a{display:block;
        font-size: 18px; font-weight: 400; padding:  20px 0; transition: 0.2s linear;}
.nav2{ position: absolute; top: 53px; right:30px;}
    .nav2 li{float:left; margin-left: 150px;}
    .nav2 li a{display:block;font-size: 18px; font-weight: 400; padding:  20px 0; transition: 0.2s linear;}

    .nav li a:hover {color:rgb(223, 167, 167);}
    .nav2 li a:hover {color:rgb(223, 167, 167);}

/*banner*/
#banner{width: 100%; /*height:850px*/ overflow: hidden;}
/* #banner img{width: 100%; display: block;} */
#banner video{width: 100%; display: block;}
.about{width: 100%; height: 850px ; position: absolute; top: 130px; left: 0; z-index: 2;}
.about img{width: 100%;}

/*con1*/
#con1{width: 100%; height: 802px; margin: 150px auto; background: url(../images/brandbox1.jpg) no-repeat top center;}
        .con1_inner{width: 1320px; margin: 0 auto; position: relative;}
        .txt_box1{width: 600px; height: 802px; padding-top: 130px; box-sizing: border-box;}
                .txt_box1 p{margin-top: 40px; font-size: 18px;}
        .story{float: left; width: 707px; position: absolute; right: 0; top: 40px;}
        .stoty img{width: 100%;}
/*con2*/
#con2{width: 100%;height: 900px; height: 802px; background: url(../images/brandbox2.jpg) no-repeat top center;}
        .con2_inner{width: 1320px; margin: 0 auto; position: relative;}
        .txt_box2{width: 600px; height: 802px; padding-top: 130px; box-sizing: border-box; float: right;}
        .txt_box2 p{margin-top: 40px; font-size: 18px;}
        .promise{float: left; width: 658px; position: absolute; left: 0; top: 55px;}
        .promise img{width: 100%;}

/*con3*/
#con3{width: 100%; height: 820px; margin: 150px 0; background: url(../images/brandbox3.jpg) no-repeat top center;}
        .con3_inner{width: 1320px; margin: 0 auto; position: relative;}
        .txt_box3{width: 650px; height: 802px; padding-top: 200px; box-sizing: border-box;}
        .txt_box3 p{margin-top: 40px; font-size: 18px;}
        .direction{float: left; width: 637px; position: absolute; right: 0; top: 47px;}
        .direction img{width: 100%;}

/*con4*/
#con4{width: 100%;}
#con4 img{width: 100%; display: block;}

/*con5*/
#con5{width: 100%; height: 900px; margin-top: 150px;position: relative; overflow: hidden;}
        .con5_inner{width: 1320px; margin: 0 auto; }
        .left{width: 30%; position: absolute; left: -90px;}
                .left img{width: 100%; }
        .right{width: 30%; margin-top: 50px; position: absolute; right: -90px; top: 0;}
                .right img{width: 100%;}
        .center{width: 636px; margin: 0 5%; margin-top:165px; text-align: center; position: absolute; left: 50%; top: 0px; margin-left: -318px;}
                .center img{width: 100%;}
                .center p{font-size: 20px; line-height: 32px; margin: 47px 0;}
                .center a{font-size: 15px; display: inline-block; border: 1px solid #333; padding: 10px 30px;}

/*footer*/
#footer{width: 100%; height: 482px; background: url(../images/footer_bg.jpg) no-repeat top center; text-align: center; background-size: cover;}
        .footer_inner{width: 1320px; margin: 0 auto; position: relative;}
        .footer_link{position: absolute; left: 50%; margin-left: -329.5px; top: 72px;}
        .footer_link li{float: left; margin: 0 45px;}
        .footer_link li a{display: block; font-size:13px ;}

        .sns{clear: both; position: absolute; top: 140px; left: 50%; margin-left: -144px;}
        .sns li{float: left; margin: 0 20px; }
        .footer_inner p{clear: both;font-size: 13px; position: absolute;}
                .p1{top: 208px; left: 50%; margin-left: -220.75px }
                .p2{top: 290px; left: 50%; margin-left: -134.32px;}
        .footer_logo{position: absolute; top: 348px; left: 50%; margin-left: -169.5px;}